<!doctype html>
<html>
  <head>
  	<!-- jquery -->
  	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

    <script src="../ng.js"></script>

    <script src="/socket.io/socket.io.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end -->
  </head>
  <body ng-app="myApp">

  	<nav class="navbar navbar-inverse">
  		<a class="navbar-brand" href="#">P2P Distributed Jobs</a>
	</nav>

    <div class="container-fluid" >
    	<div class="row">
    		<!-- Left Column -->
    		<div class="col-xs-6" ng-controller="jobsController">
    			<!-- init job -->
    			<div ng-init="job.publicId = '<%= job.publicId %>'; job.privateId = '<%= job.privateId %>'; job.name = '<%= job.name %>'; job.progress = '<%= job.progress %>'; job.value = '<%= job.value %>'; job.code = '<%= job.code %>'">
    			</div>

    			<script>
	    			// function() {
	       //          	setInterval(function() {
	  					// 	if (connectedDevices) {};
	       //              	$('.deviceId').text(randomnumber);
	       //          		}, 3000);
	       //      	});

					var MyArray = function() {
					    var arr = [];
					    arr.push = function() {
					        console.log("PUSHING", arguments);
					        return Array.prototype.push.apply(this, arguments);
					    }

					    return arr;
					};

    				var connectedDevices = []; 
    				// var connectedDevices = MyArray; 

    				var socket = io("http://localhost:12345");
    				var jobId  = '<%= job.publicId %>';
    				socket.emit('joinJob', {jobId:jobId, role: 'leader'});
    				socket.on('clientConnect', function(msg) {
    					console.log("Connection:");
    					console.log(msg.id);
    					connectedDevices.push(msg.id);
    					console.log(connectedDevices);
    					fillUsers();
    				});
    				socket.on('clientDisconnect', function(msg){
    					console.log("Disconnected");
    					var index = connectedDevices.indexOf(msg.id);
    					if(index > -1){
    						connectedDevices.splice(index,1);
    					}
    					console.log(msg.id);
    					fillUsers();
    				});
                    socket.on('finalResults', function(msg){
                        console.log(msg);
                    });

                    socket.on('jobStatus', function(msg){
                        console.log(msg);
                    });

                    function htmlDecode(input){
                      var e = document.createElement('div');
                      e.innerHTML = input;
                      return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
                    }
    			</script>

    			<center><h3>Current job status</h3></center>
    			<!-- Job name -->
    			<h4 class="list-group-item" style="margin-top:6.5%;">
    				<center>{{job.name}}</center>
    			</h4>
    			<!-- End job name -->
    			<!-- Job progress -->
    			<div class="progress">
  					<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{job.progress}}%">
  					</div>
				</div>
				<!-- End Job progress -->
				<button ng-click="update();">Click me</button>

				<button onclick="startJob();">Start Job</button> 
                <a href="/joinJob/<%= job.publicId %>">Public Link</a>
				<script>
					function startJob() {
						socket.emit('startJob', {data: '<%= job.value %>', code: htmlDecode('<%= job.code %>'), jobId: '<%= job.publicId %>', language: '<%= job.language %>'});
					}

					function fillUsers(){
						document.getElementById('userCol').innerHTML = "";
						var content = "";
						for (i=0;i<connectedDevices.length;i++){
							content += '<li class="list-group-item" style="margin: 5%; padding: 5%;">' + connectedDevices[i] +'</li>';
						}
						document.getElementById('userCol').innerHTML = content;
					}
				</script>
    		</div>
    		<!-- End Left -->

    		<!-- Right Column -->
    		<div class="col-xs-6">
    			<center><h3>Nearby Users</h3></center>
	    		<ul class="list-inline" id="userCol"></ul>
	    	</div>
	    	<!-- End Right -->
	    </div>
    </div>

  </body>
</html>

